@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap');

nav {
  background-color: #33363b;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #eee;
    font-family: 'Source Serif Pro', serif;
  }

}